<!DOCTYPE html>
<html>
    <head>
        <title>Gastronomy Lab</title>
    </head>

    <body>
        <button id = "getAllRecipes">Get All recipes</button>
        <button id = "getOneRecipe">Get One recipe</button>
        <div id="recipe-list"></div>
        <div id="one-recipe"></div>
        <p>Our index.html is working!</p>

        <form id="add-recipe-form">
            <input type="text" name="student-name" />
            <input type="submit" value="Add Student" />
        </form>
        <script src="script.js"></script>
    </body>
</html>