@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One&display=swap');

/* Allows background to display 100% */

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

.title {
    font-family: 'Poiret One', cursive;
}

.food {
    font-family: 'Open Sans', sans-serif;
}

/* A box for content */
.box {
    background-color: #247BA0;
    padding: 20px 40px 20px 40px;
}

/* Parallax background effect */

.bgimg-1 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.bgimg-1 {
    background-image: url("../assets/background.jpg");
    min-height: 100%;
}

.photo {
    border-radius: 5px;
    border: 10px solid white;
}

/* Consistent colour scheme for navbar */

@media screen and (max-width: 1023px) {
    .navbar-menu {
      background-color: hsl(348, 100%, 61%);
    }
}

.navbar-item {
    color: white;
}